<div id='page'>
    <div id="sidebar">
        <ul id="sidebar-items">
            <h3>pages</h3>
            <% links %>
        </ul>
    </div>
    <div id='content'>
<% content %>
    </div>
    <div id="popup">
        <% popup %>
    </div>
    <div id="footer">
        <% footer %>
    </div>
