<div id='page'>
    <div id="sidebar">
        <ul id="sidebar-items">
            <h3>pages</h3>
            <% links %>
        </ul>
    </div>
    <div id='content'>
        <h1>Source for <% title %></h1>
        <pre class='markdown'>
<% content %>
        </pre>
    </div>
    <div id="footer">
        <% footer %>
    </div>
